body {
    padding: 0;
    margin: 0;
    background: tan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}



.main-content {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-size {
    font-size: 12px;
}

.logo-text-size {
    font-size: 24px;
}

.search-container { 
    box-shadow: none;
    border-radius: 30px;
    margin-top: 50px;
}

.bg-custom {
    background-color: rgb(223, 230, 163);
}

.navbar-custom .navbar-brand,
.narbar-custom .navbar-text {
    color: purple;
}

.search-bar-center {
    position: fixed;
    display: inline;
    left: 50%;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 85, 58);
    color: white;
    text-align: center;
    font-size: 20px;
}

.search-image {
    background: rgb(223, 230, 163) url('images/search_image_button.png');
    padding-left: 8px;
    height: 16px;
}

.image-search {
    width: 30px;
    height: 30px
}

.roborox-logo {
    width: 50px;
    height: auto;
}

.rarity {
    text-transform: capitalize;
}

.card-image-size {
    width: 300px;
}

.card-name {
    font-weight: bold;
    font-size: 30px;
}

.autocomplete-results {
    font-size: 20px;
}


.card-type, .oracle-text, .flavor-text, .artist, .rarity, .card-set, .tcg-link, .card-market-link, .power-and-toughness {
    font-size: 20px;
    padding-top: 10px;
}

a:hover {
    background-color: none;
  }

li:hover {
    cursor: pointer;
}

